# Data Cleaning

#### Data Source: http://www.dcmetrometrics.com/data

 ## hotcars.csv

 HotCar report data. Each hot car report is from a tweet mentioning a single valid 4 digit Metro car number.

 - *car_number*: Metro car number
 - *color*: Line color
 - *time*: Tweet time (UTC)
 - *text*: Tweet text
 - *handle*: Twitter user's screen name
 - *user_id*: Twitter user's user_id
 - *tweet_id*

# Reading in Libraries

In [63]:
import pandas as pd
import numpy as np
from datetime import datetime

In [64]:
data = pd.read_csv('hotcars.csv')

In [65]:
data.head()

,car_number,color,time,text,handle,user_id,tweet_id
0,1001,RED,2013-05-28T12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB,18249348.0,3.393600e+17
1,1188,RED,2013-05-28T12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx,403520304.0,3.393630e+17
2,1068,GREEN,2013-05-28T21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo,16174883.0,3.394880e+17
3,2066,ORANGE,2013-05-28T21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy,40506740.0,3.394900e+17
4,1043,BLUE,2013-05-28T22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling,263763147.0,3.395030e+17

# Breaking down and Cleaning the Data
1. Rename 'time' column to 'time_stamp'
    - break down the 'time_stamp' into columns ('time', 'full_date', 'year', 'month', 'date')
   
   
2. Delete 'tweet_id' & 'user_id' : it doesn't provide any useful info

3. Add news columns 'weekday', 'season', 'weekday' and use 'time_stamp' to generate these values
    - 'workday'
        - 0 = not a workday
        - 1 = a workday
    - 'season' 
        - Winter = 1
        - Spring = 2
        - Summer = 3
        - Autumn = 4
    - 'weekday' 
        - 0 = Monday
        - 1 = Tuesday
        - 2 = Wednesday
        - 3 = Thursday
        - 4 = Friday
        - 5 = Satuday
        - 6 = Sunday

In [66]:
# drops the 'tweet_id' column
data = data.drop(columns = {'tweet_id', ''})

In [67]:
data.head()

,car_number,color,time,text,handle
0,1001,RED,2013-05-28T12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB
1,1188,RED,2013-05-28T12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx
2,1068,GREEN,2013-05-28T21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo
3,2066,ORANGE,2013-05-28T21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy
4,1043,BLUE,2013-05-28T22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling

In [68]:
# renaming 'time' into 'time_stamp'
data = data.rename(columns = {'time' : 'time_stamp'})

In [69]:
data.head()

,car_number,color,time_stamp,text,handle
0,1001,RED,2013-05-28T12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB
1,1188,RED,2013-05-28T12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx
2,1068,GREEN,2013-05-28T21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo
3,2066,ORANGE,2013-05-28T21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy
4,1043,BLUE,2013-05-28T22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling

In [70]:
# import datetime librarby to convert objects to datetimes
# from datetime import datetime

# changes 'time_stamp' to datetime
data['time_stamp']= pd.to_datetime(data['time_stamp'])

In [71]:
data.dtypes

car_number                  int64
color                      object
time_stamp    datetime64[ns, UTC]
text                       object
handle                     object
dtype: object

In [72]:
# creating new columns 
data['full_date'] = ''
data['year'] = ''
data['month'] = ''
data['day'] = ''
data['season'] = ''

data['weekday'] = ''  # this will be what day it is (Mon-Sun)
data['season'] = ''   # this will be what season (winter = 1, spring = 2, summer = 3, fall = 4)
data['workday'] = ''  # if it's a workday or not (0 = not a workday, 1 = a workday)

In [73]:
data.head()

,car_number,color,time_stamp,text,handle,full_date,year,month,day,season,weekday,workday
0,1001,RED,2013-05-28 12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB,,,,,,,
1,1188,RED,2013-05-28 12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx,,,,,,,
2,1068,GREEN,2013-05-28 21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo,,,,,,,
3,2066,ORANGE,2013-05-28 21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy,,,,,,,
4,1043,BLUE,2013-05-28 22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling,,,,,,,

In [74]:
# fill in a 'full_date' based on 'time_stamp'
data.full_date = data.time_stamp.dt.date
# turning 'full_date' into a datetime
data['full_date'] = pd.to_datetime(data['full_date'])

# fills in 'weekday' based on 'time_stamp' 
data.weekday = data.time_stamp.dt.dayofweek

# fill in 'year' column based on 'time_stamp'
data.year = data.time_stamp.dt.year

# fill in 'month' column based on 'time_stamp'
data.month = data.time_stamp.dt.month

# fill in 'season' column based on 'time_stamp'
data.season = data.time_stamp.dt.quarter

# fill in 'day' column based on 'time_stamp'
data.day = data.time_stamp.dt.day

In [75]:
data.head()

,car_number,color,time_stamp,text,handle,full_date,year,month,day,season,weekday,workday
0,1001,RED,2013-05-28 12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB,2013-05-28,2013,5,28,2,1,
1,1188,RED,2013-05-28 12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx,2013-05-28,2013,5,28,2,1,
2,1068,GREEN,2013-05-28 21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo,2013-05-28,2013,5,28,2,1,
3,2066,ORANGE,2013-05-28 21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy,2013-05-28,2013,5,28,2,1,
4,1043,BLUE,2013-05-28 22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling,2013-05-28,2013,5,28,2,1,

In [76]:
# import numpy as np

# fills in the 'workday' column, based on the weekday column
data['workday'] = np.where(data['weekday']>=4, 1 , 0 )

In [77]:
data.head()

,car_number,color,time_stamp,text,handle,full_date,year,month,day,season,weekday,workday
0,1001,RED,2013-05-28 12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB,2013-05-28,2013,5,28,2,1,0
1,1188,RED,2013-05-28 12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx,2013-05-28,2013,5,28,2,1,0
2,1068,GREEN,2013-05-28 21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo,2013-05-28,2013,5,28,2,1,0
3,2066,ORANGE,2013-05-28 21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy,2013-05-28,2013,5,28,2,1,0
4,1043,BLUE,2013-05-28 22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling,2013-05-28,2013,5,28,2,1,0

In [80]:
data.dtypes

car_number                  int64
color                      object
time_stamp    datetime64[ns, UTC]
text                       object
handle                     object
full_date          datetime64[ns]
year                        int64
month                       int64
day                         int64
season                      int64
weekday                     int64
workday                     int32
dtype: object

### Export our clean df to a new csv file for later use

In [78]:
data.to_csv("\\Users\\606569\\Documents\\GitHub\\201\\Project_1\\hotcars_clean.csv")

# EDA

In [82]:
# read in our new clean csv
data = pd.read_csv('hotcars_clean.csv')

In [83]:
data.head()

,Unnamed: 0,car_number,color,time_stamp,text,handle,full_date,year,month,day,season,weekday,workday
0,0,1001,RED,2013-05-28 12:39:54+00:00,"Was just on metro hot car #1001 (red line), an...",CarChickMWB,2013-05-28,2013,5,28,2,1,0
1,1,1188,RED,2013-05-28 12:50:53+00:00,@FixWMATA @unsuckdcmetro @wmata RL #HotCar 118...,DiavoJinx,2013-05-28,2013,5,28,2,1,0
2,2,1068,GREEN,2013-05-28 21:06:20+00:00,"oh good, another hot car on the metro. green l...",lexilooo,2013-05-28,2013,5,28,2,1,0
3,3,2066,ORANGE,2013-05-28 21:15:23+00:00,#HotCar 2066 on OL to New Carrollton. Air is ...,TheHornGuy,2013-05-28,2013,5,28,2,1,0
4,4,1043,BLUE,2013-05-28 22:08:07+00:00,Car 1043 on the blue line heading to Largo is ...,jessydumpling,2013-05-28,2013,5,28,2,1,0

In [84]:
# I'm not sure why there is now a 'Unnamed: 0' column.  Lets just drop it for now
data = data.drop(columns = {'Unnamed: 0'})